---
interface Props {
  title: string;
}

const { title } = Astro.props;
import AsideMenuItem from "../components/AsideMenuItem.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id="app" class="h-screen p-2 gap-2">
    <main class="[grid-area:slot] flex rounded-lg w-full h-full bg-zinc-900">
      <slot />
    </main>
  </body>
  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      background: #13151a;
      background-size: 224px;
	  color-scheme: dark light;
    }
  </style>
</html>
